<li class="pages">
  <a class="show_hide" href="#"></a> <%= link_to "Pages", big_cms_pages_path() %><%= link_to "", new_big_cms_page_path(), :class =>"new" %>
  <ul class="sub-contents">
    <% current_cms.pages.order(:title).each do |page| %>
      <li class="edit"><%= link_to page.title, edit_big_cms_page_path(:id => page.slug) %></li>
    <% end %>
  </ul>
</li>

