<!-- <h1 class='editing-title'>Editing <!-- "<%= (request.url).split('/')[-2] %>" </h1>
<%= link_to "Page History", {:version_history => true}, {:class => "history button"} %> -->
<%= render 'form' %>



