<li class="components">
  <a class="show_hide" href="#"></a> <%= link_to "Snippets", big_cms_components_path(),  :class=>"folder-icon" %>
  <ul class="sub-contents">
    <% current_cms.components.order(:name).each do |component| %>
      <li class="edit"><%= link_to component.name, edit_big_cms_component_path(component) %></li>
    <% end %>
  </ul>
</li>

<!-- <%= link_to "", new_big_cms_component_path(), :class =>"new" %>-->