<h1>Listing cms_files</h1>

<table>
  <tr>
    <th>File file name</th>
    <th>File content type</th>
    <th>File file size</th>
    <th>File updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cms_files.each do |cms_file| %>
  <tr>
    <td><%= link_to(cms_file.file_file_name, cms_file.file.url) %></td>
    <td><%= cms_file.file_content_type %></td>
    <td><%= cms_file.file_file_size %></td>
    <td><%= cms_file.file_updated_at %></td>
  </tr>
<% end %>
</table>

<br />

