<div class="welcome-message">
	<p><a href="http://yak.ms" title="YAK.ms" id="yak-landing" alt="YAK.ms">Yak</a></p>
	<%= link_to "New Page", "http://#{current_site.sub_domain}.yak.ms/big_cms/pages/new", {:class => "button"} %>
	<%= link_to "New Snippet", "http://#{current_site.sub_domain}.yak.ms/big_cms/components/new", {:class => "button"} %>
	<%= link_to "Upload File(s)", "http://#{current_site.sub_domain}.yak.ms/big_cms/cms_files/new", {:class => "button last"} %>
	<p id="welcome-bottom">Or, utilize the asset manager to the left.</p>
</div>