    <div id="nav_listing">
      <ul id="main_nav">
        <%= render "big_cms/layouts/admin_nav_listing"%>
        <%= render "big_cms/pages/admin_nav_listing" %>
        <%= render "big_cms/components/admin_nav_listing"%>
        <%= render "big_cms/cms_files/admin_nav_listing" %>
      </ul>
    </div><!-- #nav_listing -->

